@import url("theme.css");
@import url("button.css");
@import url("typography.css");
@import url("textfield.css");
@import url("dashboard.css");

.root {
  -fx-node-orientation: right-to-left;
  -fx-letter-spacing: normal;
  -fx-background-color: #ffffff;
  -fx-font-family: "Vazirmatn", sans-serif;
  -fx-letter-spacing: -0.5px;
}

* {
  -fx-node-orientation: right-to-left;
}

.auth-layout-container {
  -fx-alignment: center;
}

.auth-right-pane {
  -fx-background-color: #fff;
  -fx-padding: 40 32;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.08), 16, 0, 0, 4);
  -fx-background-radius: 16;
  -fx-min-width: 400;
  -fx-max-width: 480;
  -fx-alignment: center;
}

.auth-left-pane {
  -fx-background-radius: 16 0 0 16;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 24, 0, 0, 8);
  -fx-overflow: hidden;
}
