

.typography-root {
  -fx-letter-spacing: -0.5px;
}

.typography-h1 {
  -fx-font-size: 32px;
  -fx-font-weight: bold;
  -fx-line-spacing: 1.2;
}
.typography-h2 {
  -fx-font-size: 24px;
  -fx-font-weight: bold;
  -fx-line-spacing: 1.2;
}
.typography-h3 {
  -fx-font-size: 20px;
  -fx-font-weight: bold;
  -fx-line-spacing: 1.2;
}
.typography-body1 {
  -fx-font-size: 16px;
  -fx-font-weight: normal;
  -fx-line-spacing: 1.5;
}
.typography-body2 {
  -fx-font-size: 14px;
  -fx-font-weight: normal;
  -fx-line-spacing: 1.5;
}

.typography-caption {
  -fx-font-size: 12px;
  -fx-font-weight: normal;
  -fx-line-spacing: 1.2;
}
